#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  margin-top: 50px;
}

.watches {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.whatchesH1 {
  margin-bottom: 15px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 15px;
}

.formInnerContainer {
  display: flex;
  flex-direction: column;
}

.formInnerContainer>label {
  margin-bottom: 5px;
}

.formInnerContainer input, .formInnerContainer select, .formInnerContainer>button{
  font-size: inherit;
}

.clocks {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.clockContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: 2px 2px 2px 2px grey;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clockContainer>h6 {
  font-size: 18px;
  font-weight: bold;
}

@font-face {
  font-family: "Electro";
  src: url("./fonts/digital_counter_7_italic.ttf");
}
.clock {
  font-family: "Electro";
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(2, 192, 2);
}

.clockContainer>button {
  width: 70px;
  border-radius: 5px;
}